!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

// GitHub ribbon! via https://github.com/blog/273-github-ribbons
a(href='https://github.com/codeforamerica/DemoDexter')
    img(
        style='position: absolute; top: 0; right: 0; border: 0;'
        src='/images/forkribbon.png'
        alt='Fork me on GitHub'
    )

script(type="text/javascript") var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-36124763-1']); _gaq.push(['_trackPageview']); (function(){ var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();